<!DOCTYPE html>
<html lang="pt-br"

<head>
	<meta charset= "utf-8">
	<title>Formularios em HTML5</title>
	<link rel="Stylesheet" href="css/Aula 18- Formularios- Parte 3.css">
</head>
<body>
	<section>
		<h1> Eprog 1.0 </h1>
		<br><br>
		<form method= "POST"> {% csrf_token %}
			<p>Login</p> 	<!--ou <a href="cadastro.html">Cadastre-se</a></p>-->
			<input type="hidden" name="next" value="{{ next }}">
			<input type="text" class="campo" maxlength="15" name="login" placeholder="Login" required autofocus><br>
			<input type="password" class="campo" maxlength= "11" name="senha" placeholder="Digite sua senha" required><br><br>
			
			<input type="submit" value="Entrar" class="btn">
		
		</form>
	
	
	</section>
		
</body>

</html>
